<!DOCTYPE html>
<!--[if (IE 7)&!(IEMobile)]>
<html class="ie7 lt-ie8 lt-ie9 oldie" lang="ja"> <![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html class="ie8 lt-ie9 oldie" lang="ja"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie9" lang="ja"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="ja">
<!--<![endif]-->
<head>
 <!--#include file="/include/head/meta.html" -->
 <!--#include file="/include/head/link.html" -->
 <!--#include file="/include/head/js.html" -->
 <link rel="stylesheet" href="static/css/doc.css">
</head>
<body>
<!--#include file="/include/parts/skiplink.html" -->
<p id="pagetop" class="sr-only">ページの先頭です</p>
<!--#include file="/include/header.html" -->
<div class="content" role="main">
 <p id="main-anc" class="sr-only">本文の始まりです</p>

 <div class="acms-container">
  <div class="alpha-block">
   <div class="entry acms-entry">
    <div class="entry__head">
     <h2 class="entry__title entryTitle"><%= title %></h2>
    </div>
    <div class="entry__body">

