@charset "utf-8";
@import "../variables";

/*
 *    @ Content Layout
 *    @ content
 *    @ alpha-block
 *    @ beta-block

*/

/* @  Content Layout
 * ------------------------------------------------------------ */

.ie8 body {
  min-width: $screen+px;
}

body, html {
  @include min-media($screen-md-min) {
    min-width: $screen+px;
  }
  @include max-media($screen-sm-max) {
    overflow-x: hidden;
    min-width: $screen-sm-min+px;
  }
}

/* @ content
 * ------------------------------------------------------------ */
.content__inner {
  @include outer-container($screen + px);
  padding-left: 10px;
  padding-right: 10px;
  @include clearfix;
  @include mb(30px);
}

/* @ alpha-block
 * ------------------------------------------------------------ */
//1カラム
.alpha-block {
  float: right;
  width: $alpha-width + px;
  padding-top: 23px;
  @include max-media($screen-sm-max) {
    width: auto;
    float: none;
    padding-top: 10px;
  }
}

/* @ beta-block
 * ------------------------------------------------------------ */
//2カラム左
.beta-block {
  width: $beta-width + px;
  float: left;
  padding-top: 23px;
  @include max-media($screen-sm-max) {
    width: auto;
    float: none;
    padding-top: 10px;
  }
}

