@charset "utf-8";
@import "../variables";

/*
 *    @ Header Layout
 *    @ header-sm
 *    @ header-md
 *    @ include
*/

/* @  Header Layout
 * ------------------------------------------------------------ */

@mixin header-sm {
}

@mixin header-md {
}

@mixin header-sm-md-only {
}

@mixin header-md-only {
}

@mixin header {
}

/* @  header-sm
 * ------------------------------------------------------------ */
@mixin header-sm {
  .header {
    position: relative;
    border-bottom: 1px solid $border-color;
  }
  .site-id {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
  }

  .h-menu {
    text-align: center;
    font-size: 12px;
    &:before {
      text-align: center;
      @include fa-icon_custom($fa-var-bars);
      display: block;
      font-size: 2em;
    }
    position: absolute;
    top: 8px;
    left: 5px;
    line-height: 1;
  }

  .h-dropdown__toggle {
    cursor: pointer;
  }
  .h-dropdown__body {
    height: auto;
    overflow: hidden;
    position: relative;
    z-index: 100;
  }
  .h-dropdown__body.is-toggle--hidden {
    height: 0;
    overflow: hidden;
  }

  .h-nav ul {
    border-top: 1px solid $border-color;
  }

  .h-nav__item {
    //height: 2.66667em;
    padding-right: .5em;
    display: inline-block;
  }

  .h-nav__item a {
    display: block;
    padding: 1.2em 0 1.2em;
    margin: 0 0.66667em;
    text-decoration: none;
  }
  .h-nav__img {
  }
  .h-nav__text {
    text-align: center;
    display: block;
  }

  .scroll-view {
    overflow-x: scroll;
  }
  .scroll-view__body {
    z-index: 100;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
}

/* @  header-md
 * ------------------------------------------------------------ */
@mixin header-md {

  .header__inner {
    @include outer-container($screen + px);
    padding-left: 10px;
    padding-right: 10px;
  }
  .site-id {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .h-nav__body {
    margin-bottom: 20px;
    display: table;
    width: 100%;
    table-layout: fixed;
    li {
      display: table-cell;
      border: 1px solid $main-color;
      border-left: none;
      text-align: center;
      padding: 10px;
      a {
        display: block;
      }
      &:first-child {
        border-left: 1px solid $main-color;
      }
    }
    .h-nav__img {
      display: none;
    }

  }
}

/* @  include
 * ------------------------------------------------------------ */

@include max-media($screen-sm-max) {
  @include header-sm {
  }
}

@include min-media($screen-md-min) {
  @include header-md;
}

@include max-media($screen-md-max) {
  @include header-sm-md-only;
}

@include min-max-media($screen-md-min, $screen-md-max) {
  @include header-md-only;
}

@include min-media($screen) {
  @include header;
}

.ie8 {
  @include header-md;
  @include header;
}
