@charset "utf-8";
@import "../variables";



/*
 *    @ section
 *    @ unit
 *    @ entry
 *    @ box
 *    @ media
 *    @ grid
*/


/* @ section-group
 * ------------------------------------------------------------ */
/*doc
---
title: section-group
name: section-group
category: unit
---

```html_example

```
*/



//要素を囲むブロック
.section-group{
  margin-top: 25px;
  margin-bottom: 25px;
  @include max-media($screen-sm-max) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*doc
---
title: section
name: section
category: unit
---

```html_example

```

*/


.section {
  &__title {
  }
  &__text {
  }
  &__text-small{
  }
  &__img{}
}

/* @ unit-group
 * ------------------------------------------------------------ */

/*doc
---
title: unit-group
name: unit-group
category: unit
---

```html_example

```
*/
//要素のブロック ベース
.unit-group{ @include clearfix; }

/*doc
---
title: unit
name: unit
category: unit
---

```html_example

```

*/


.unit {
  &__title {
  }
  &__text {
  }
  &__text-small{
  }
  &__img{}
}

/* @ entry-group
 * ------------------------------------------------------------ */

/*doc
---
title: entry-group
name: entry-group
category: unit
---

```html_example

```
*/
//要素のブロック ベース
.unit-group{ @include clearfix; }



/*doc
---
title: entry
name: entry
category: unit
---

```html_example

```

*/
.entry {}
.entry__head{}
.entry__body {}
.entry__title {
  @include fsize(20px,20px,16px);
  @include mb(10px);
  font-weight: bold;
}
.entry__lead {  }





/* @ box
 * ------------------------------------------------------------ */
/*doc
---
title: box-a
name: box-a
category: unit
---

```html_example

```
*/
.box-a {
  @include p(10px);
  background-color: #FAFAFA;
  border: 1px solid #CCC;
  > *:last-child {
    margin-bottom: 0;
  }
  a{
    color: #000;
  }
  a:hover{
    text-decoration: none;
  }
  &__img{
    margin-bottom: 5px;
  }
  &__caption{
    color: #808080;
    font-size: 10px;
  }
  &__title{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 3px;
  }
  &__text{
    font-size: 10px;
  }
}


/* @ media
 * ------------------------------------------------------------ */
/*doc
---
title: media
name: media
category: unit
---


```html_example
```
*/

//flex
// .media {
//   display: flex;
//   align-items: flex-start;
// }
// .media__figure { margin-right: 1em; }
// .media__body { flex: 1; }
//
// .media--reverse>.media__figure {
//   -webkit-box-ordinal-group: 2;
//   -webkit-order: 1;
//   -ms-flex-order: 1;
//   order: 1;
//   margin: 0 0 0 1em;
// }


.media {
  @include clearfix;
}
.media__img {
  margin-bottom: 20px;
  @include max-media($screen-sm-max){
    margin-bottom: 15px;
    text-align: center;
  }
}

.media__img.pull-left {
  @include mr(40px, false, 20px);
}
.media__img.pull-left-none {
  @include mr(40px, false, 0);
}

.media__img.pull-right{
  @include ml(40px, false, 20px);
}
.media__img.pull-right-none {
  @include ml(40px, false, 0);
}

@include max-media($screen-sm-max) {
  .media__img.pull-left-none,
  .media__img.pull-right-none {
    float: none !important;
  }
}

.media__img img > img {
  display: block;
}

.media__body {
  overflow: hidden;
  position: relative; // コンテンツが少し下がってるのを調整
  top: -.3em; //コンテンツが少し下がってるのを調整
}


.w460-auto {
  width: 460px;
  @include max-media($screen-sm-max){
    width: auto;
  }
}
.w300-auto{
  width: 300px;
  @include max-media($screen-sm-max){
    width: auto;
  }
}

.w220-w100{
  width: (220/($screen - 20))*100%;
  @include max-media($screen-sm-max) {
    width: (100/($screen-sm-min))*100%;

  }
}


/* @ grid
 * ------------------------------------------------------------ */

/*doc
---
title: コンテンツ用グリッド
name: grid-col
category: unit
---

```html_example

```
<div class="styleguide-table"></div>
View  | Class              |  Description
----- | -------------      | --------------------- |
      | `grid-group--3-2`  |                       |
      | `grid-group--2`    |                       |


*/

//段組のブロック
.grid-group--3-2 {
  display: flex;
  @include max-media($screen-sm-max) {
    flex-direction: column;
  }
  .grid {
    @include grid-col-base;
    @include grid-col(3, $screen, 20, $target: ie8);
    @include max-media($screen-sm-max) {
      &:nth-child(3n+1){clear: none;}
      @include grid-col(2, $screen-sm-max, 20 );
    }
    display: flex;
    flex-direction: column;
  }
}
.ie8 .grid-group--3-2 .grid:first-child,
.ie8 .grid-group--3-2 .grid:first-child + * + * + *,
.ie8 .grid-group--3-2 .grid:first-child + * + * + * + * + * + *{
  margin-left: 0!important;
  clear:both!important;
}

.grid-group--2 {
  .grid {
    @include grid-col-base;
    @include grid-col(2, $screen, 3, $target: ie8);
    @include max-media($screen-sm-max) {
      @include grid-col(2, $screen-sm-max, 20);
    }
  }
}
.ie8 .grid-group--2 .grid:first-child,
.ie8 .grid-group--2 .grid:first-child + * + *,
.ie8 .grid-group--2 .grid:first-child + * + * + * + *{
  margin-left: 0!important;
  clear:both!important;
}



@include max-media($screen-sm-max) {

  .sm-flex-wrap {
    flex-wrap: wrap;
  }
  .sm-flex-order1 {
    order: 1;
  }
  .sm-flex-order2 {
    order: 2;
  }
  .sm-flex-order3 {
    order: 3;
  }
}

