@charset "UTF-8";
/*
 *    @ Footer Layout
 *    @ footer-sm
 *    @ footer-md
 *    @ include


*/
/* @  Footer Layout
 * ------------------------------------------------------------ */
/* @  footer-sm
 * ------------------------------------------------------------ */
/* @  footer-md
 * ------------------------------------------------------------ */
/* @  include
 * ------------------------------------------------------------ */
@media only screen and (max-width: 37.4375em) {
  .footer {
    background-color: #ccc; }

  .f-nav {
    background-color: #ccc; }

  .f-nav__item {
    border-bottom: #000 solid 1px; }

  .f-nav__item a {
    display: block;
    padding: 10px;
    text-decoration: none; }
    .f-nav__item a:hover, .f-nav__item a:focus {
      background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.2)); }
    .f-nav__item a:focus {
      outline: 0; }
    .f-nav__item a:active {
      box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, 0.1); }
    .f-nav__item a[disabled] {
      opacity: .4;
      cursor: not-allowed; }
    .f-nav__item a:after {
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      float: right;
      top: .1em;
      position: relative;
      font-size: 18px; }

  .f-logo {
    text-align: center;
    margin: 15px auto 10px; }

  .f-copy {
    padding: 10px;
    font-size: 12px; } }
@media only screen and (min-width: 37.5em) {
  .footer {
    background-color: #ccc;
    text-align: center;
    padding: .5em; } }
  @media only screen and (min-width: 37.5em) and (max-width: 37.4375em) {
    .footer {
      font-size: 10px; } }

@media only screen and (min-width: 37.5em) {
  .footer__inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 10px 10px; }
    .footer__inner:before, .footer__inner:after {
      content: " ";
      display: table; }
    .footer__inner:after {
      clear: both; }

  .f-nav {
    text-align: center; }
    .f-nav__item {
      font-size: 13px;
      line-height: 1.8;
      display: inline-block; }
      .f-nav__item:before {
        content: " | ";
        width: 1em;
        padding-left: 5px; }
      .f-nav__item:first-child:before {
        display: none;
        padding-left: 0; }

  .f-logo {
    text-align: center;
    margin: 15px auto 10px; }

  .f-copy {
    margin-top: 20px;
    text-align: center;
    font-size: 12px; } }
.ie8 .footer {
  background-color: #ccc;
  text-align: center;
  padding: .5em; }
  @media only screen and (max-width: 37.4375em) {
    .ie8 .footer {
      font-size: 10px; } }
.ie8 .footer__inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 10px 10px; }
  .ie8 .footer__inner:before, .ie8 .footer__inner:after {
    content: " ";
    display: table; }
  .ie8 .footer__inner:after {
    clear: both; }
.ie8 .f-nav {
  text-align: center; }
  .ie8 .f-nav__item {
    font-size: 13px;
    line-height: 1.8;
    display: inline-block; }
    .ie8 .f-nav__item:before {
      content: " | ";
      width: 1em;
      padding-left: 5px; }
    .ie8 .f-nav__item:first-child:before {
      display: none;
      padding-left: 0; }
.ie8 .f-logo {
  text-align: center;
  margin: 15px auto 10px; }
.ie8 .f-copy {
  margin-top: 20px;
  text-align: center;
  font-size: 12px; }
