@charset "UTF-8";
/*
 *    @ Header Layout
 *    @ header
 *    @ header-sm
 *    @ header-md
 *    @ include
*/
/* @  Header Layout
 * ------------------------------------------------------------ */
/* @  header
 * ------------------------------------------------------------ */
.header {
  background-color: #fff; }

/* @  header-sm
 * ------------------------------------------------------------ */
/* @  header-md
 * ------------------------------------------------------------ */
/* @  include
 * ------------------------------------------------------------ */
@media only screen and (max-width: 37.4375em) {
  .header {
    position: relative; }

  .scroll-header-on {
    position: fixed;
    z-index: 999;
    width: 100%; }

  .site-id {
    padding: 10px; }

  .h-dropdown__toggle {
    cursor: pointer; }
    .h-dropdown__toggle:hover {
      text-decoration: none; }

  .h-dropdown__body {
    height: auto;
    overflow: hidden;
    position: relative;
    z-index: 100; }

  .h-dropdown__body.is-toggle--hidden {
    height: 0;
    overflow: hidden; }

  .h-nav {
    background-color: #666;
    position: fixed;
    top: 62px;
    width: 100%; }

  .h-nav__item {
    border-bottom: #999 solid 1px; }
    .h-nav__item:last-child {
      border-bottom-width: 0; }

  .h-nav__item a {
    display: block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: #fff; }
    .h-nav__item a:hover, .h-nav__item a:focus {
      background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.2)); }
    .h-nav__item a:focus {
      outline: 0; }
    .h-nav__item a:active {
      box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, 0.1); }
    .h-nav__item a[disabled] {
      opacity: .4;
      cursor: not-allowed; }
    .h-nav__item a:after {
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      float: right;
      top: .1em;
      position: relative;
      font-size: 18px; }
    .h-nav__item a.icon-nav-down:after {
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

  .h-nav__item i:before {
    position: relative;
    top: 3px; }

  .h-nav__body--level2 {
    background-color: #888888; }

  .h-nav__item--level2 {
    border-top: #999 solid 1px; }
    .h-nav__item--level2 a {
      font-size: 14px;
      padding: 10px 10px 10px 20px; }

  .h-menu-title {
    position: fixed;
    z-index: 200;
    width: 54px;
    height: 54px;
    text-align: center;
    right: 0;
    top: 0;
    background-color: #ccc;
    border-radius: 0 0 0 8px; }
    .h-menu-title i {
      font-size: 22px;
      padding-top: 10px; }
    .h-menu-title span {
      display: block;
      padding-top: 3px;
      font-size: 10px; }
    .h-menu-title.is-toggle--on i:before {
      content: "";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

  .menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7B7B7B;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 100; } }
@media only screen and (min-width: 37.5em) {
  .header {
    position: relative;
    z-index: 999; }

  .header__inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px; }
    .header__inner:before, .header__inner:after {
      content: " ";
      display: table; }
    .header__inner:after {
      clear: both; }
    .header__inner:before, .header__inner:after {
      content: " ";
      display: table; }
    .header__inner:after {
      clear: both; }

  .site-id {
    float: left; }

  .h-nav__body {
    float: right; }
    .h-nav__body:before, .h-nav__body:after {
      content: " ";
      display: table; }
    .h-nav__body:after {
      clear: both; }
    .h-nav__body .h-nav__item {
      float: left;
      padding-left: 35px;
      position: relative; }
      .h-nav__body .h-nav__item > a {
        color: #000; }
        .h-nav__body .h-nav__item > a:hover {
          color: #ccc;
          text-decoration: none; }

  .h-nav__body--level2 {
    display: none;
    width: 100%; }

  .h-nav__item:hover .h-nav__body--level2 {
    display: block;
    position: absolute; } }
.ie8 .header {
  position: relative;
  z-index: 999; }
.ie8 .header__inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px; }
  .ie8 .header__inner:before, .ie8 .header__inner:after {
    content: " ";
    display: table; }
  .ie8 .header__inner:after {
    clear: both; }
  .ie8 .header__inner:before, .ie8 .header__inner:after {
    content: " ";
    display: table; }
  .ie8 .header__inner:after {
    clear: both; }
.ie8 .site-id {
  float: left; }
.ie8 .h-nav__body {
  float: right; }
  .ie8 .h-nav__body:before, .ie8 .h-nav__body:after {
    content: " ";
    display: table; }
  .ie8 .h-nav__body:after {
    clear: both; }
  .ie8 .h-nav__body .h-nav__item {
    float: left;
    padding-left: 35px;
    position: relative; }
    .ie8 .h-nav__body .h-nav__item > a {
      color: #000; }
      .ie8 .h-nav__body .h-nav__item > a:hover {
        color: #ccc;
        text-decoration: none; }
.ie8 .h-nav__body--level2 {
  display: none;
  width: 100%; }
.ie8 .h-nav__item:hover .h-nav__body--level2 {
  display: block;
  position: absolute; }
