@charset "UTF-8";
/*
 *    @ pc-sp
 *    @ section
 *    @ entry
 *    @ unit
 *    @ box

*/
/* @ pc-sp-group
 * ------------------------------------------------------------ */
/*doc
---
title: pc-sp-group
name: pc-sp-group
category: unit
---

###特定の状態のみ表示するブロック

*/
.sp-group {
  display: none; }
  @media only screen and (max-width: 37.4375em) {
    .sp-group {
      display: block; } }

.pc-group {
  display: block; }
  @media only screen and (max-width: 37.4375em) {
    .pc-group {
      display: none; } }

/* @ section
 * ------------------------------------------------------------ */
/*doc
---
title: section
name: section
category: unit
---

###要素を囲むブロック

*/
.section {
  margin-bottom: 40px; }

/* @ entry-group
 * ------------------------------------------------------------ */
/*doc
---
title: entry-group
name: entry-group
category: unit
---

```html_example

```
*/
.entry-group:before, .entry-group:after {
  content: " ";
  display: table; }
.entry-group:after {
  clear: both; }

/*doc
---
title: entry
name: entry
category: unit
---

```html_example

```

*/
/* @ unit-group
 * ------------------------------------------------------------ */
/*doc
---
title: unit-group
name: unit-group
category: unit
---
##要素のブロック ベース
*/
.unit-group {
  margin-bottom: 30px; }
  .unit-group:before, .unit-group:after {
    content: " ";
    display: table; }
  .unit-group:after {
    clear: both; }

/*doc
---
title: unit
name: unit
category: unit
---
```html_example

```
*/
.unit__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; }
  @media only screen and (max-width: 74.9375em) {
    .unit__title {
      font-size: 20px; } }
  @media only screen and (max-width: 37.4375em) {
    .unit__title {
      font-size: 16px; } }

/* @ box
 * ------------------------------------------------------------ */
/*doc
---
title: box-a
name: box-a
category: part
---

```html_example

```
*/
.box-a {
  padding: 10px;
  background-color: #FAFAFA;
  border: 1px solid #CCC; }
  .box-a > *:last-child {
    margin-bottom: 0; }
  .box-a a {
    color: #000; }
  .box-a a:hover {
    text-decoration: none; }
  .box-a__img {
    margin-bottom: 5px; }
  .box-a__caption {
    color: #808080;
    font-size: 10px; }
  .box-a__title {
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 3px; }
  .box-a__text {
    font-size: 10px; }
