<!-- BEGIN block:loop -->
<!-- BEGIN layoutGroup#begin -->
<div class="acms-admin-layout-unit-menu">
 <div class="js-acms_layout_menu_label acms-admin-layout-menu-order acms-admin-layout-menu-inner"><p class="acms-admin-layout-menu-text"><span class="acms-admin-label acms-admin-layout-menu-step-label">1</span>レイアウトをドラッグ</p></div><!-- END layoutGroup#begin -->

 <!-- BEGIN layoutGroup#rear -->
</div><!-- END layoutGroup#rear --><!-- BEGIN layoutGroup#front -->
<a href="#{group}" class="js-fader acms-admin-layout-menu-group-heading">{groupLabel}</a>
<div class="acms-admin-layout-menu-group-body" id="{group}"><!-- END layoutGroup#front -->

 <div class="js-acms_layout_row acms_layout_row">
  <input type="hidden" name="ids[]" value="{id}">
  <input type="hidden" name="parent_{id}" value="{parent}">
  <input type="hidden" name="col_{id}" value="{col}">
  <input type="hidden" name="row_{id}" value="{row}">
  <input type="hidden" name="class_{id}" value="{class}">
  <input type="hidden" name="mid_{id}" value="{mid}">
  <input type="hidden" name="tpl_{id}" value="{tpl}">

  <div class="js-acms_layout_label"><!-- BEGIN moduleLabel -->
   <div class="js-acms_layout-menu-inner acms-admin-layout-menu-inner">
    <p class="js-acms_layout_menu_label acms-admin-layout-menu-text"><span class="acms-admin-label acms-admin-layout-menu-step-label">2</span>モジュールをドラッグ</p>
    <div class="acms-admin-insert-box acms-admin-insert-box-module"><span class="acms-admin-icon-module"></span>モジュール</div>
   </div><!-- END moduleLabel -->
   <!-- BEGIN label:veil -->
   <div class="acms-admin-insert-box acms-admin-insert-box-layout">{label}</div><!-- END label:veil -->
  </div>

  <!-- BEGIN type#module -->
  <div class="js-acms_layout-unit acms-admin-layout-unit acms-admin-layout-module-unit">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <button class="js-acms_layout_select_module acms-admin-layout-control-btn acms-admin-btn-admin acms-admin-btn-small" ><span class="acms-admin-icon-module"></span>モジュール</button>
    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="js-acms_layout_contents js-acms_layout_module_box acms-admin-layout-contents" data-col="1">
    <!-- COL#1 -->
    <!-- MODULE -->
   </div>
  </div>
  <!-- END type#module --><!-- BEGIN type#col12 -->
  <div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <span class="acms-admin-layout-label-name">{blockLabel}</span>
    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-12">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
     <!-- COL#1 -->
    </div>
   </div>
  </div>
  <!-- END type#col12 -->
  <!-- レイアウト機能カスタム -->
  <!--#include file="/admin/layout/custom.html" -->

  <!-- BEGIN type#col6-6 -->
  <div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <span class="acms-admin-layout-label-name">{blockLabel}</span>
    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-6">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
     <!-- COL#1 -->
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-6">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
     <!-- COL#2 -->
    </div>
   </div>
  </div>
  <!-- END type#col6-6 --><!-- BEGIN type#col3-9 -->
  <div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <span class="acms-admin-layout-label-name">{blockLabel}</span>
    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-3">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
     <!-- COL#1 -->
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-9">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
     <!-- COL#2 -->
    </div>
   </div>
  </div>
  <!-- END type#col3-9 --><!-- BEGIN type#col4-8 -->
  <div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <span class="acms-admin-layout-label-name">{blockLabel}</span>
    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-4">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
     <!-- COL#1 -->
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-8">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
     <!-- COL#2 -->
    </div>
   </div>
  </div>
  <!-- END type#col4-8 --><!-- BEGIN type#col9-3 -->
  <div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <span class="acms-admin-layout-label-name">{blockLabel}</span>
    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-9">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
     <!-- COL#1 -->
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-3">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
     <!-- COL#2 -->
    </div>
   </div>
  </div>
  <!-- END type#col9-3 --><!-- BEGIN type#col8-4 -->
  <div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <span class="acms-admin-layout-label-name">{blockLabel}</span>
    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-8">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
     <!-- COL#1 -->
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-4">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
     <!-- COL#2 -->
    </div>
   </div>
  </div>
  <!-- END type#col8-4 --><!-- BEGIN type#col4-4-4 -->
  <div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <span class="acms-admin-layout-label-name">{blockLabel}</span>
    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-4">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
     <!-- COL#1 -->
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-4">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
     <!-- COL#2 -->
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-4">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="3">
     <!-- COL#3 -->
    </div>
   </div>
  </div>
  <!-- END type#col4-4-4 --><!-- BEGIN type#col3-3-3-3 -->
  <div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <span class="acms-admin-layout-label-name">{blockLabel}</span>
    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete"><span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-3">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
     <!-- COL#1 -->
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-3">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
     <!-- COL#2 -->
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-3">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="3">
     <!-- COL#3 -->
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-3">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="4">
     <!-- COL#4 -->
    </div>
   </div>
  </div>
  <!-- END type#col3-3-3-3 -->
 </div>

 <!-- BEGIN layoutGroup#last -->
</div></div><!-- END layoutGroup#last -->
<!-- END block:loop -->