<!-- block.htmlの57行目に -->

  <!-- BEGIN type#col12_wide -->
  <div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <span class="acms-admin-layout-label-name">{blockLabel}</span>

    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete">
      <span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-12">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
     <!-- COL#1 -->
    </div>
   </div>
  </div>
  <!-- END type#col12_wide -->

  <!-- BEGIN type#base-layout -->
  <div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <span class="acms-admin-layout-label-name">{blockLabel}</span>

    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete">
      <span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="acms-admin-layout-contents alpha-block">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">
     <!-- COL#1 -->
    </div>
   </div>
   <div class="acms-admin-layout-contents beta-block">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="2">
     <!-- COL#2 -->
    </div>
   </div>
  </div>
  <!-- END type#base-layout -->

  <!-- BEGIN type#part-widget -->
  <div class="js-acms_layout-unit acms-admin-layout-unit clearfix">
   <div class="js-acms_layout_edit_box acms-admin-layout-edit-box">
    <span class="acms-admin-layout-label-name">{blockLabel}</span>

    <div class="acms-admin-inline acms-admin-float-right">
     <button class="js-acms_layout_delete_unit acms-admin-btn-unstyled acms-admin-layout-control-btn acms-admin-icon-delete">
      <span class="acms-admin-hide-visually">削除</span></button>
    </div>
   </div>
   <div class="acms-admin-layout-contents acms-admin-col-md-12">
    <div class="js-acms_layout_contents acms-admin-layout-contents-inner" data-col="1">

     <!-- ダミーここから -->
     <!--#include file="/include/parts/widget.html" -->
     <!-- ダミーここまで -->
    </div>
   </div>
  </div>
  <!-- END type#part-widget -->
