@charset "utf-8";
@import "../variables";

/*
 *    @ form
*/

/* @ form
 * ------------------------------------------------------------ */
/*doc
---
title: form-control
name: form-control
category: part
---

```html_example
<div class="table-a">
  <div class="form-err">【入力エラーです】<br>入力内容を確認して再度送信してください。</div>
<table>
  <tbody>
    <tr class="form-unit form-err">
      <th class="form-head"><label for="form-name">お名前<span class="req">必須</span></label></th>
      <td class="form-field"><input type="text" name="" value="" size="40" class="form-control w100p" placeholder="例）xxxxxxx">
      <p class="form-err-text">エラーメッセージ</p>
      </td>
    </tr>
    <tr class="form-unit">
      <th class="form-head"><label for="form-mail">メールアドレス<span class="req">必須</span></label></th>
      <td class="form-field"><input type="email" size="40" class="form-control w100p" placeholder="例）あなたのe-mailアドレス">
      <p class="form-err-text">エラーメッセージ</p>
      </td>
    </tr>
    <tr>
      <th class="form-head">都道府県 <span class="req">必須</span></th>
      <td class="form-field">
        <select class="form-control">
          <option value="" selected="selected">都道府県</option>
        </select>
       <p class="form-err-text">エラーメッセージ</p>
      </td>
    </tr>


    <tr class="form-unit">
      <th class="form-head">ラジオボタン<span class="any">任意</span></th>
      <td class="form-field">
        <ul class="input-rc-group w50p w100p-sp ">
          <li><input type="radio"><label for="radio">01</label></li>
          <li><input type="radio"><label for="radio">02</label></li>
        </ul>
      </td>
    </tr>

    <tr class="form-unit">
      <th class="form-head">チェックボックス<span class="any">任意</span></th>
      <td class="form-field">
        <ul class="input-rc-group w50p w100p-sp ">
          <li><input type="checkbox"><label for="radio">01</label></li>
          <li><input type="checkbox"><label for="radio">02</label></li>
        </ul>
      </td>
    </tr>
    <tr class="form-unit">
      <th class="form-head"><label for="form-contact">お問い合わせ内容<span class="any">任意</span></label></th>
      <td class="form-field"><textarea cols="40" rows="10" class="form-control w100p"></textarea></td>
    </tr>
  </tbody>
</table>
</div>

```
*/

.acms-text-error {
  display: block;
  color: #FF0000;
}

.form-err-text {
  display: none;
  color: #FF0000;
}

.form-err {
  .form-control,
  select,
  button {
    border-color: #FF9797;
    background-color: #FEE9E9;
  }
  .form-err-text {
    display: block;
  }
}

.form-err {
  .form-control,
  .input-rc-group.toggle,
  select,
  button {
    border-color: #FF9797;
    background-color: #FEE9E9;
  }
  .form-err-text {
    display: block;
  }
}

.form-err-text {
  display: none;
  color: #FF9797;
  font-size: 12px;
}

.form-text-space {
  @include mt(1.5em, false, 0);
}

.form-unit {
  margin-bottom: 20px;
}

.form-head {
}

.form-field select,
.form-field input,
.form-field textarea {
  //margin-bottom: .5rem;
}

.form-field input,
.form-field textarea {
  //@extend .form-control;
}

.form-control::-webkit-input-placeholder {
  color: #CCC;
}

.form-control::-moz-placeholder {
  color: #CCC;
}

.form-control:-moz-placeholder {
  color: #CCC;
}

.form-control:-ms-input-placeholder {
  color: #CCC;
}

.form-control {
  margin-top: 6px;
  margin-bottom: 10px;
  padding: 6px 6px;
  border: 1px solid $border-color;
  color: #555;
  vertical-align: middle;
  border-radius: 0;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  @include form-control-focus();
  &:focus,
  &:hover {
    background: #fafafa;
  }
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: #EEE;
    cursor: not-allowed;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

textarea.form-control {
  height: auto;
}

.any {
}

.req {
  color: #777;
  font-size: 10px;
  background-color: #FFF;
  border-radius: 2px;
  padding: 2px 4px;
  border: 1px solid $border-color;
  margin-left: 5px;
  @include max-media($screen-sm-max) {
    background-color: #EBEBEB;
    color: #777777;
    border-radius: 0;
    border-width: 0;
    padding: 4px;
    font-size: 14px;
  }
}
