@charset "utf-8";
/* @ color
 * ------------------------------------------------------------ */

/*doc
---
title: 色
name: tool-color
category: tool-color
---


<div class="styleguide-table"></div>
View                                                       | Class         | Description
---------------------------------------------------------- | ------------- | ------------- |
<p class="color-red text-bold">ダミーテキストです。</p>       | `color-red`   |               |
<p class="color-brawn text-bold">ダミーテキストです。</p>     | `color-brawn` |               |
<p class="color-yellow text-bold">ダミーテキストです。</p>    | `color-yellow`|               |
<p class="color-pink text-bold">ダミーテキストです。</p>      | `color-pink`  |               |
<p class="color-blue text-bold">ダミーテキストです。</p>      | `color-blue`  |               |
<p class="color-green text-bold">ダミーテキストです。</p>     | `color-green` |               |
<p class="color-purple text-bold">ダミーテキストです。</p>    | `color-purple`|               |
*/
.color-red{ color: $brand-red;}
.color-brawn{ color: $brand-brawn;}
.color-yellow{ color: $brand-yellow;}
.color-pink{ color: $brand-pink;}
.color-blue{ color: $brand-blue;}
.color-green{ color: $brand-green;}
.color-orange{ color: $brand-orange;}
.color-purple{ color: $brand-purple;}
.color-gray{ color: $brand-gray;}

/*doc
---
title: bg-gradient
name: bg-gradient
category: tool-color
---

色設定

<div class="styleguide-table"></div>
View                                           | Class         | Description
---------------------------------------------- | ------------- | ------------- |
<div class="bg-gradient w100p pt10 pb10">背景色</div>           | `bg-gradient` |               |

*/


.bg-gradient {
  background-image: -webkit-linear-gradient(top, #EFEFEF 0%, #FFF 100%);
  background-image: linear-gradient(to bottom, #EFEFEF 0%, #FFF 100%); 
  }